body,
html {
  height: 100%;
}

.black{
  background-color: #000;
}

.bg {
  background-image: url("images/backgrounds/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}
#headhead{
  text-align: center;
  color: azure;
  top: 40%;
  margin-left: 30%;
  position: absolute;
}
.headtext {
  text-align: center;
  color: azure;
  top: 60%;
  margin-left: 30%;
  position: absolute;
}
.droparrow {
  bottom: 5%;
  margin-left: 45%;
  position: absolute;
}
.checks {
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 5%;
  background-color: #afa9a9;
}
#about {
  background-image: url('images/backgrounds/about.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60%;
  position: relative;
  text-align: center;
  color: white;
  padding: 3%;
  font-size: 32px;
}
p.solid {
  border-style: solid;
  border-color: red;
  padding-left: 4%;
  padding-right: 4%;
}
.promo {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #5f5c5c;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 1rem;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; 
}
.dropdown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.futa {
  background-color: #3d3b3b;
  color: white;

}
.products {
  position: relative;
  text-align: center;
  color: rgb(238, 74, 74);
  border: black;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 6px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 6px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 6px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 3px;
  right: 6px;
}
#ads {
  margin: 30px 0 30px 0;
 
}

#ads .card-notify-badge {
      position: absolute;
      left: -10px;
      top: -20px;
      background: #f2d900;
      text-align: center;
      border-radius: 30px 30px 30px 30px; 
      color: #000;
      padding: 5px 10px;
      font-size: 14px;

  }

#ads .card-notify-year {
      position: absolute;
      right: -10px;
      top: -20px;
      background: #ff4444;
      border-radius: 50%;
      text-align: center;
      color: #fff;      
      font-size: 14px;      
      width: 50px;
      height: 50px;    
      padding: 15px 0 0 0;
}


#ads .card-detail-badge {      
      background: #f2d900;
      text-align: center;
      border-radius: 30px 30px 30px 30px;
      color: #000;
      padding: 5px 10px;
      font-size: 14px;        
  }

 

#ads .card:hover {
          background: #fff;
          box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
          border-radius: 4px;
          transition: all 0.3s ease;
      }

#ads .card-image-overlay {
      font-size: 20px;
      
  }


#ads .card-image-overlay span {
          display: inline-block;              
      }


#ads .ad-btn {
      text-transform: uppercase;
      width: 150px;
      height: 40px;
      border-radius: 80px;
      font-size: 16px;
      line-height: 35px;
      text-align: center;
      border: 3px solid #e6de08;
      display: block;
      text-decoration: none;
      margin: 20px auto 1px auto;
      color: #000;
      overflow: hidden;        
      position: relative;
      background-color: #e6de08;
  }

#ads .ad-btn:hover {
          background-color: #e6de08;
          color: #1e1717;
          border: 2px solid #e6de08;
          background: transparent;
          transition: all 0.3s ease;
          box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
      }

#ads .ad-title h5 {
      text-transform: uppercase;
      font-size: 18px;
  }

  @media only screen and (max-width: 800px) {
    #about {
      background-image: url('images/backgrounds/about.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 50%;
      position: relative;
      text-align: center;
      color: white;
      padding: 1%;
      font-size: 1rem;
    }
    #headhead{
      text-align: center;
      color: azure;
      top: 30%;
      margin-left: 15%;
      position: absolute;
    }
    .headtext {
      text-align: center;
      color: azure;
      top: 50%;
      margin-left: 17%;
      position: absolute;
    }
    .buto {
      display: none;
    }
  }
  @media only screen and (max-height: 800px){
    #about {
      background-image: url('images/backgrounds/about.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 40%;
      position: relative;
      text-align: center;
      color: white;
      padding: 1%;
      font-size: 1rem;
    }
    .buto {
      display: none;
    }
  }